name: Test CI

on:
  workflow_dispatch:
  push:
    - '!prod'
  pull_request:
    - '!prod'

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Get Java JDK 16
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '16'

      - name: Java Version
        run: java -version
        
      - name: Build Jar and Run Tests
        run: mvn test